@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0,0,0);
    color: rgb(255, 255, 255);
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
}

/* ----------- Shared Class ------------ */

.div-title{
    font-size:3rem ;
    font-weight: 900 ;
    margin-bottom: 14px;
}

.short-des{
    font-size: 1rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.short-des2{
    font-size: 0.87rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.btn-font{


}

.join-now{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;

}

.col-red{
    color: rgb(230, 83, 60);;
}

.col-ash{
    color: rgba(255, 255, 255, 0.5);
}


/* ---------- Header section ---------- */

.header-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
}
.head-nav-flex{
    display: flex;
    gap: 463px;
    justify-content: space-between;
    max-width: 1060px;
    margin-top: 57px;
    padding: 8px 20px;
}

.head-title-style{
    font-size: 2.25rem ;
    font-weight: 600;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
    
}
nav > ul > li  a{
    text-decoration: none;
    
    color: rgb(255, 255, 255);
    font-size: 1.125rem ;
    font-weight: 800;
}

nav li:hover{
    display: block;
    border-radius: 40px;
    background: rgb(230, 83, 60);
}



/* Header Body  */

.header-join-down{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 76px;
}
.header-body{
    display: flex;
    gap: 164px;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
}
.header-left{
    width: 600px;
    align-items: center;
    /* margin-top: 62px; */
}
.header-title{
    font-size: 4.475rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.header-title-span{
    font-weight: 300;
    font-style: italic;
}
.header-des{
    margin-bottom: 28px;
}
.btn-down{
    border-radius: 42px;
    background:transparent;
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

/* Header Img Decoration  */

/* .header-img-grid{
    display: grid;
} */

.header-img-grid img{
    margin-top: 0%;
    
}

.header-img-1{
    margin-top: -1163px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 12rem;
    height: 6.125rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}

.header-img-2{
    margin-bottom: -63px;
    margin-left: -113px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 12rem;
    height: 6.125rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}




/* ------- Change Your Habits Section -------- */
.change-div-container{
    margin-top: 100px;
    width: 1044px;
}

.change-top{
    /* width: 617px; */
    margin-bottom: 58px;
    text-align: center;
}

.habit-img-div{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.one-img{
    width: 231px;
    height: 274px;
}
.one-img img{
    padding: 0px auto 30px auto;
    border-radius: 100%;
}

.img-title{
    font-size:1.125rem ;
    font-weight: 600 ;
    margin-bottom: 6px;
}

/* --------- Run an Extra Mile Easily ---------  */


.run-div-container{
    display: flex;
    gap: 165px;
    justify-content: space-between;
    /* height: 400px; */
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 100px;
    width: 1060px;
    border-radius: 18px;
}
.run-left{
    /* width: 443px; */
    padding: 41px 0px 40px 54px;
    align-items: center;
}

.run-img{
    padding: 30px 32px 29px 0px;
}

.run-des-margin{
    margin-bottom: 34px;
}

.run-img img{
    height: 100%; 
    width: 366px;
    border-radius: 18px;
}

/* --------Trainings and Exercises-------- */

.train-img-container{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    column-gap: 20px;
    row-gap: 20px;
}

.exercise-img-1{
    background-image: url("../images/exercise1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-2{
    background-image: url("../images/exercise2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-3{
    background-image: url("../images/exercise3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-4{
    background-image: url("../images/exercise4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-5{
    background-image: url("../images/exercise5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-6{
    background-image: url("../images/exercise6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------ BMI Calculator ------------  */

.bmi-div-container{
    width: 1060px;
}

.bmi-intro{
    margin-top: 78px;
    margin-bottom: 88px;
    width: 671px;
}
.bmi-chart-container{
    display: flex;
    gap: 175px;
    justify-content: left;
    align-items: center;
}

.bmi-title1{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 52px;
}

table{
    border: 1px solid grey;
    border-collapse: collapse;
}
th, tr, td{
    border: 1px solid grey;
    padding: 15px 15px;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-title2{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom:14px ;
}

.bmi-cal-form{
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 34px;
}

.bmi-cal-form input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border: 1px solid none;
    height: 40px;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 1rem;
    font-weight: 400;
}

.bmi-cal-form select{
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border: 1px solid none;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 1rem;
    font-weight: 400;
}
.bmi-cal-form select option{
    background-color: black;
}
.bmi-cal{
    margin-top: 49px;
    width: 577px;
    margin-bottom: 52px;
}
#box1{
    grid-column: span 2;
    height: 65px;
}



/* ---------- Meet our team  ----------- */

/* .team-style{} */

.team-div-container{
    margin-top: 88px;
    width: 1060px;
}
.team-title-div{
    text-align: center;
    margin-bottom: 78px;
}

.team-img-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 100px;
    border-radius: 18px;
}
.team-style{
    height: 273px;
    width: 326px;  
}

.team-title{
    font-size: 1.125 rem;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 190px;
    margin-left: 10px;
}
.team-intro{
    font-size: 0.879rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}

.team-1{
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 18px;
    /* height: max-content; */
}
.team-2{
    background-image: url("../images/trainer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-3{
    background-image: url("../images/trainer3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-4{
    background-image: url("../images/trainer4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-5{
    background-image: url("../images/trainer5.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-6{
    background-image: url("../images/trainer6.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}


/* ---------- Footer ---------------  */

/* .get-ul ul */

.footer-div-container{
    display: grid;
    gap: 120px;
    grid-template-columns: repeat(3, 400px 200px 200px);
    justify-content: space-around;
}
.reserved{
    text-align: center;
}




/* ================== Small Device ================= */

