@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0,0,0);
    color: rgb(255, 255, 255);
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
}

/* ----------- Shared Class ------------ */

.div-title{
    font-size:3rem ;
    font-weight: 900 ;
    margin-bottom: 14px;
}

.short-des{
    font-size: 1rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.short-des2{
    font-size: 0.87rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.join-now{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
}
.margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.col-red{
    color: rgb(230, 83, 60);
}
.col-ash{
    color: rgba(255, 255, 255, 0.5);
}

/* ---------- Header section ---------- */

.header-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
}
.head-nav-flex{
    display: flex;
    gap: 463px;
    justify-content: space-between;
    max-width: 1060px;
    margin-top: 57px;
    padding: 8px 20px;
}

.head-title-style{
    font-size: 3.25rem ;
    font-weight: 600;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
nav ul li{ 
    padding: 10px;
}

nav > ul > li  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem ;
    font-weight: 800;
}
/* nav > ul >li img{
    display: none;
} */

nav li:hover{
    border-radius: 20px;
    background: rgb(230, 83, 60);
}
.home-span{
    padding: 10px;
    border-radius: 20px;
    background: rgb(230, 83, 60);
}

.menubar{
    visibility: hidden;

}
/* Header Body  */

.header-join-down{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 76px;
}
.header-body{
    display: flex;
    gap: 164px;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
}
.header-left{
    width: 600px;
    align-items: center;
    /* margin-top: 62px; */
}
.header-title{
    font-size: 4.475rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.header-title-span{
    font-weight: 300;
    font-style: italic;
}
.header-des{
    margin-bottom: 28px;
}
.btn-down{
    border-radius: 42px;
    background:transparent;
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.header-img-grid{
    position: relative;
}
.header-img-grid img{
    margin-top: 0%; 
    margin-left: auto;
    margin-right: auto;
}

.header-img-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    width: 12rem;
    height: 6.125rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 23%;
    z-index: 1;
    right: -10%;
}

.header-img-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 12rem;
    height: 6.125rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10%;
    z-index: 1;
    right: 55%;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
}

/* ------- Change Your Habits Section -------- */
.change-div-container{
    margin-top: 100px;
    width: 1044px;
}

.change-top{
    /* width: 617px; */
    margin-bottom: 58px;
    text-align: center;
}

.habit-img-div{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.one-img{
    width: 231px;
    height: 274px;
}
.one-img img{
    padding: 0px auto 30px auto;
    border-radius: 100%;
}

.img-title{
    font-size:1.125rem ;
    font-weight: 600 ;
    margin-bottom: 6px;
}

/* --------- Run an Extra Mile Easily ---------  */


.run-div-container{
    display: flex;
    gap: 165px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 100px;
    width: 1060px;
    border-radius: 18px;
}
.run-left{
    padding: 41px 0px 40px 54px;
    align-items: center;
}

.run-img{
    padding: 30px 32px 29px 0px;
}

.run-des-margin{
    margin-bottom: 34px;
}

.run-img img{
    height: 100%; 
    width: 366px;
    border-radius: 18px;
}

/* ======== Offered Services ===========  */

.offer-intro{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 900px;
}

.offer-card-container{
    width: 1060px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.offer-card{
    width: 450px;
    height: 470px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.font{
    font-size: 1.5rem;
}
.offer-card img, p, button{
    margin-bottom: 20px;
}

.offer-card img{
    width: 350px;
    height: 250px;
}
.add-cart{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600px;
    margin-bottom: 0px;
    width: 60%;
}
.offer-card>button a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

/* --------Trainings and Exercises-------- */

.train-img-container{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    column-gap: 20px;
    row-gap: 20px;
}

.exercise-img-1{
    background-image: url("../images/exercise1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-2{
    background-image: url("../images/exercise2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-3{
    background-image: url("../images/exercise3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-4{
    background-image: url("../images/exercise4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-5{
    background-image: url("../images/exercise5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-img-6{
    background-image: url("../images/exercise6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------ BMI Calculator ------------  */

.bmi-div-container{
    width: 1060px;
}

.bmi-intro{
    margin-top: 78px;
    margin-bottom: 78px;
    width: 671px;
}
.bmi-chart-container{
    display: flex;
    gap: 175px;
    justify-content: left;
    align-items: center;
    padding-top: 4px;
}

.bmi-title1{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 52px;
}

table{
    border: 1px solid grey;
    border-collapse: collapse;
}
th, tr, td{
    border: 1px solid grey;
    padding: 15px 15px;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.bmi-title2{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom:14px ;
}

.bmi-cal-form{
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 34px;
}

.bmi-cal-form input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border: 1px solid none;
    height: 40px;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 1rem;
    font-weight: 400;
}

.bmi-cal-form select{
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border: 1px solid none;
    color: rgba(255, 255, 255, 0.5) ;
    font-size: 1rem;
    font-weight: 400;
}
.bmi-cal-form select option{
    background-color: black;
}
.bmi-cal{
    margin-top: 40px;
    width: 577px;
    margin-bottom: 52px;
}
#box1{
    grid-column: span 2;
    height: 65px;
}



/* ---------- Meet our team  ----------- */

.team-div-container{
    margin-top: 88px;
    width: 1060px;
}
.team-title-div{
    text-align: center;
    margin-bottom: 78px;
}

.team-img-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 100px;
    border-radius: 18px;
}
.team-style{
    height: 273px;
    width: 326px;  
}

.team-title{
    font-size: 1.125 rem;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 190px;
    margin-left: 10px;
}
.team-intro{
    font-size: 0.879rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}

.team-1{
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 18px;
    /* height: max-content; */
}
.team-2{
    background-image: url("../images/trainer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-3{
    background-image: url("../images/trainer3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-4{
    background-image: url("../images/trainer4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-5{
    background-image: url("../images/trainer5.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.team-6{
    background-image: url("../images/trainer6.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}


/* ---------- Footer ---------------  */

/* .get-ul ul */

.footer {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 88px;
    margin-bottom: 0px;
}

.footer-div-container{
    display: grid;
    gap: 102px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 39px;
    width: 1060px;
}

.sub-div-footer{
    display: grid;
    gap: 112px;
    grid-template-columns: repeat(2, 1fr);
}

.footer-title{
    margin-top: 66px ;
    font-size: 4.8125rem;
    font-weight: 800px;
    color: rgb(230, 83, 60);
    margin-bottom: 20px;
}

.get-title{
    margin-top: 66px ;
    font-size: 2rem;
    font-weight: 700px;
    color: rgb(255, 255, 255);
    margin-bottom: 39px;
}

.get-ul ul li{
    margin-bottom: 20px;
}
.get-ul ul li a{
    text-decoration: none;
    font-size: 1.4375rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}
hr{
    width: 1060px;
    color: rgba(255, 255, 255, 0.5);
}
.reserved{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    font-weight: 400;
}
.footer-reserved{
    padding-top: 36px;
    padding-bottom: 36px;
}



/* ================== Small Device ================= */

