/* ================== Small Device ================= */

@media  screen and (max-width: 576px) {

    .head-nav-flex{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-bottom: 30px;
    }
    nav > ul > li {
        display: none;
    }
    .menubar{
        visibility: visible;
    }
    .header-body{
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 90%;
    }
    .header-left{
        width: 90%;
    }
    .habit-img-div{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .header-img-1{
        top: 12%;
        right: 5%;
        width: 8rem;
        height: 5.125rem;
    }
    .header-img-2{
        bottom: 35%;
        right: 45%;
        width: 10rem;
        font-size: 0.5rem;
    }

    /* ===== Change Habits ======  */

    .change-div-container{
        margin-top: 100px;
        width: 90%;
        height: 100%;
        margin-top: 50px;
    }
    .habit-img-div{
        gap: 10px;
        margin-bottom: 20px;
    }

     /* ===== Run ====== */

     .run-div-container{
        flex-direction: column;
        gap: 10px;
        width: 90%;
    }
    .run-left{
        padding: 41px 20px 20px 30px;
        align-items: center;
    }
    .join-small{
        width: 90%;
    }
    .run-div-container{
        margin-bottom: 0px;
    }

    .team-title-div{
       margin-left: auto;
       margin-right: auto;
    }
    .run-img img{
        width: 100%;
        margin-left: 10px;
    }

    /* ======== Offered Services ===========  */
    .offer-intro{
        width: 80%;
        margin-top: 30px;
    }
    .offer-card-container{
        width: 100%;
        gap: 0px;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .offer-card{
        width: 60%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .offer-card img{
        width: 80%;
        height: 40%;
    }


    /* ====== BMI Calculate ===== */
    .bmi-div-container{
        width: 90%;
        justify-items: left;
        margin-top: 0px;
    }
    .bmi-intro{
        margin-top: 0px;
        margin-bottom: 20px;
        width: 90%;
    }
    .bmi-table{
        justify-content: left;
    }

    .bmi-chart-container{
        flex-direction: column;
        gap: 20px;
        justify-content: left;
        padding-top: 20px;
    }
    .bmi-cal{
        width: 90%;
    }
    .bmi-cal-form{
        grid-template-columns: repeat(2, 50%);
        gap: 5px;
    }


    /* ======= MEET TEAM ========== */

    .team-div-container{
        width: 90%;
    }

    .team-img-div{
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
    .team-style{
        height: 100%;
        width: 90%;  
    }

    /* ======= Footer ======= */
    .footer {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-div-container{
        gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;
        width: 80%;
    }
    
    .sub-div-footer{
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-title{
        margin-top: 6px ;
    }
    .get-title{
        margin-top: 20px ;
    }
    hr{
        width: 90%;
    }
    
    
}